<html ng-app="fetch">
<head>
<title>NSX Policy Playground</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.24/angular.min.js"></script>
</head>

<body>
<br>
  <div class="row">
    <div class="container">
      <h1>NSX Security Policy</h1>
      <div ng-controller="controller">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Security Groups</th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr ng-repeat="objectId in data | filter:searchFilter">
                    <td>{{objectId.name}}</td>
                </tr> //-->
                <tr ng-repeat="rule in policy.policies | filter: { name: '!spo' }">
                    <td>{{ rule.name }} <br /> {{ rule.securityGroupBindings[0].objectId }} | {{ rule.securityGroupBindings[0].name }}</td>
                    <td>
                        <div ng-repeat="group in groups | filter: { objectId: rule.securityGroupBindings[0].objectId }: true">{{ group.name }}</div>
                    </td>
                </tr>

            </tbody>
        </table>
      </div>
    </div>
  </div>
</body>

<script>
    var fetch = angular.module('fetch', []);

    fetch.controller('controller', ['$scope', '$http', function ($scope, $http) {
        $http.get("allpolicies_ajax.php")
            .success(function(data){
                $scope.policy = data;
                console.log($scope.data);
            })
            .error(function() {
                $scope.policy = "error in fetching data";
            })
        $http.get("secgroups_ajax.php")
            .success(function(data){
                $scope.groups = data;
                console.log($scope.data);
            })
            .error(function() {
                $scope.groups = "error in fetching data";
            })
        $scope.groupFilter = function (groupId) {
            return item.securityGroupBindings[0].objectId === groupId;
        }
    }]);

</script>

</html>