      <div>
        <p><input type="text" ng-model="$ctrl.sectionFilter" placeholder="Section Search.." class="form-control" /></p>
        <div ng-repeat="section in $ctrl.rulebase.layer3Sections.layer3Sections | filter:$ctrl.sectionFilter">
            <div class="panel panel-default">
              <div class="panel-heading" ng-model="collapsed" ng-click="collapsed=!collapsed" style="cursor: pointer;"><h4>Section: {{ section.name }}</h4></div>           
                <div class="panel-body" ng-show="collapsed">
                    <table class="table table-hover table-striped table-responsive small">
                        <thead>
                            <tr>
                                <th>Rule Name</th>
                                <th>Action</th>
                                <th>Direction</th>
                                <th>Sources</th>
                                <th>Destinations</th>
                                <th>Services</th>
                                <th>Applied to</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="rule in section.rules" ng-style="if_disabled(rule.disabled)">
                                <td>{{ rule.name }}</td>
                                <td>{{ rule.action }}</td>
                                <td>{{ rule.direction }}</td>
                                <td>
                                    <div ng-repeat="item in rule.sources.sourceList">
                                        <span ng-show="item.name" popover-trigger="'mouseenter'" popover-placement="right" popover-title="{{ item.name }}" uib-popover-template="'popovertpl.html'" popover-append-to-body="true">{{ item.name || 'any' }}</span>
                                    </div>
                                </td>
                                <td>
                                    <div ng-repeat="item in rule.destinations.destinationList">
                                        <span ng-show="item.name" popover-trigger="'mouseenter'" popover-placement="right" popover-title="{{ item.name }}" uib-popover-template="'popovertpl.html'" popover-append-to-body="true">{{ item.name || 'any' }}</span>
                                    </div>
                                </td>
                                <td>
                                    <div ng-repeat="service in rule.services.serviceList">{{ service.name || 'any' }}</div>
                                </td>
                                <td>
                                    <div ng-repeat="appliedTo in rule.appliedToList.appliedToList">{{ appliedTo.name }}</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

      </div>
