<div class="container-fluid">
    <div class="row panel panel-default">
        <div class="panel-heading" ng-model="setcollapse" ng-click="setcollapse=!setcollapse" style="cursor: pointer;">Settings</div>
        <div class="panel-body" ng-show="!setcollapse">
            <input type="search" ng-model="$ctrl.sectionFilter" placeholder="Search.." class="form-control" />
            <div class="checkbox"><label><input type="checkbox" ng-model="hide" /> Hide sections with no rules</label></div>
            <div class="checkbox"><label><input type="checkbox" ng-model="collapse" ng-click="collapsed=!collapsed" /> Expand all sections</label></div>
        </div>
    </div>

    <div ng-repeat="section in $ctrl.rulebase.layer3Sections.layer3Sections | filter:$ctrl.sectionFilter" ng-hide="!section.rules.length && hide-empty-sections">
        <div class="panel panel-default row">
          <div class="panel-heading" ng-model="collapsed" ng-click="collapsed=!collapsed" style="cursor: pointer;"><h4>Section: {{ section.name }}</h4></div>     
            <div class="panel-body" ng-show="collapsed">
                <table class="table table-hover table-striped table-responsive small">
                    <thead>
                        <tr>
                            <th>Rule Name</th>
                            <th>Action</th>
                            <th>Direction</th>
                            <th>Sources</th>
                            <th>Destinations</th>
                            <th>Services</th>
                            <th>Applied to</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="rule in section.rules | filter: $ctrl.sectionFilter" ng-style="rule.disabled ? { 'color':'lightgrey', 'font-style':'italic' } : return;">
                            <td>{{ rule.name }}</td>
                            <td>{{ rule.action }}</td>
                            <td>{{ rule.direction }}</td>
                            <td>
                                <div ng-repeat="item in rule.sources.sourceList" ng-show="rule.sources.sourceList.length">
                                    <span popover-trigger="'mouseenter'" popover-popup-delay="500" popover-placement="right" popover-title="{{ item.name }}" uib-popover-template="'components/rulebase/field-contents.template.html'" popover-append-to-body="true">{{ item.name }}</span>
                                </div>
                                <div ng-show="!rule.sources.sourceList.length">any</div>
                            </td>
                            <td>
                                <div ng-repeat="item in rule.destinations.destinationList" ng-show="rule.destinations.destinationList.length">
                                    <span popover-trigger="'mouseenter'" popover-popup-delay="500" popover-placement="right" popover-title="{{ item.name }}" uib-popover-template="'components/rulebase/field-contents.template.html'" popover-append-to-body="true">{{ item.name }}</span>
                                </div>
                                <div ng-show="!rule.destinations.destinationList.length">any</div>
                            </td>
                            <td>
                                <div ng-repeat="item in rule.services.serviceList" ng-show="rule.services.serviceList.length">
                                    <span popover-trigger="'mouseenter'" popover-popup-delay="500" popover-placement="right" popover-title="{{ item.name }}" uib-popover-template="'components/rulebase/field-contents.template.html'" popover-append-to-body="true">{{ item.name }}</span>

                                </div>
                                <div ng-show="!rule.services.serviceList.length">any</div>
                            </td>
                            <td>
                                <div ng-repeat="appliedTo in rule.appliedToList.appliedToList">{{ appliedTo.name }}</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
